body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#barra-topo {
  text-align: center;
  background-color: #ff6b28;
  padding: 10px;
}

#logo {
  width: 15%;
}

#plano_bolo {
  background-image: url(./images/hero_bolo.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.titulo {
  padding-top: 25px;
  font-size: 35px;
  color: #ff6b28;
}

.box:hover {
  background-color: rgb(243, 246, 248);
  border-radius: 10px;
  box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.555);
}

.espaco {
  /* padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 20px; */
  color: #ff6b28;
}

/* 
ul {
  padding-left: 15%;
} */

li {
  padding-bottom: 11px;
}

#titulo-centro {
  /* background-color: gray; */
  width: 60%;
  text-align: justify;
  margin: auto;
}

.botao-comprar {
  width: 26%;
  height: 10%;
  background-color: #ff6b28;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.pointer1 {
  cursor: url('./images/cursor_ingredientes.png'), pointer;
}

.pointer2 {
  cursor: url('./images/cursor_preparo.png'), pointer;
}

.pointer3 {
  cursor: url('./images/cursor_intrucoes.png'), pointer;
}

.caixa {
  width: 53%;
  margin: auto;
  padding: 70px 100px;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: justify;
}

footer {
  width: 100%;
  background-color: #ff6b28;
}

.color-footer {
  display: inline-block;
  max-width: 400px;
  margin: 0px;
  padding: 5px;
  font-size: 13px;
  color: white;
}

ol {
  line-height: 1.6;
}

p {
  display: inline-block;
  line-height: 1.6;
}
